header {
    margin-top: 10px;
    margin-bottom: 50px;
}
img {
    max-width: 250px;
    margin-bottom: 20px;
}

#search-form {
    width: 93%;
    margin: 0 auto;
    position: relative;
}
#search-input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.4rem 0rem;
    background-color: #E7E7E7;
    border: white solid 1px;
    border-radius: 7px;
    font-size: 1rem;
}
#search-input::placeholder {
    padding-left: 2rem;
}
#submit-btn {
    position: absolute;
    right: 0.3rem;
    top: 1em;
    background-color: #E7E7E7;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.fa-search{
    font-size: 1.rem;
}

.btn-group {
    margin-left: 3%;
}

.btn1,.btn2,.btn3 {
    margin: 5px;
    height: 60px;
}

.row {
    display: flex;
    justify-content: space-around;
}
.card {
    margin: 5px;
    padding: 0;
    border-radius: 5px;
    min-width: 320px;
}
.card:hover {
    box-shadow:3px 3px 3px #E7E7E7;
    cursor: pointer;
}

.card-img{
width: 100%;
height: 200px;
background-color: #c9b4b4;
border-radius: 5px 5px 0 0;
}
.card-body{
    border-radius: 0 0 5px 5px;
    background-color: #E7E7E7;
    flex-grow: 1;
}
.card-body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.card-body h2{
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
}
.card-body header span {
    font-size: 18px;
    font-weight: 600;
}

.card-ingredient {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: .8rem;
    padding-right: 5px;
}
.card-text {
    display: inline-block;
    width: 48%;
    font-size: .9rem;
}